>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1F2937;
    height: 85px;
    padding: 0;
    margin: 0;
    
}

.navbar img {
    border-radius: 50%;
    height: 70px;
    margin: 10px;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}


.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    margin: 15px;
}

.hero {
    background-color: #1F2937;
    margin-top: 0;
    padding: 0;
    
}

.hero h1 {
    color: #F9FAF8;
    font-size: 55px;
    font-weight: bolder ;
}

.hero p {
    color: #E5E7EB;
    font-size: 22px;
}

.hero button {
    background-color: #3882f6;
    height: 40px;
    font-weight: bold;
}

.hero img {
    border-radius: 70%;
    width: 600px;
}

.hero .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.boxes {
    height: 350px;
    padding: 40px;
    
}

.boxes .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.box  {
    flex: 1;
    max-width: 350px;
    margin: 25px;
    
}

.box img {
    max-width: 250px;
    height: 250px;
    align-content: center;
    box-shadow: 0 3px 5px rgba(58, 113, 216, 0.6);
}

.box h2 {
    font-size: 28px;
    font-weight: bolder;
    color: #1F2937;
}


.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:lightgrey;
}

.quote p{
    margin: 3px;
    color: black;
    font-weight:lighter;
    font-style:italic;
}

.footer {

}

.footerbox {
    padding: 35px;
    width: 250px;
    height: 150px;
    color: #F9FAF8;
    margin: 5px;
    
}

.footer .container{
    display: flex;
    background-color: #0a51cc;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-right: 800px;
    margin-top:50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    
}
.footer button {
    background-color: #3882f6;
    height: 40px;
    font-weight: bold; 
    color:  

}







